roomlist div.roomList {
	height: calc(100% - 41px - 41px);
}
roomlist li.roomListItem {
	height: 25px;
	padding: 0px 0px 0px 0px;
}
roomlist .roomListItem .roomListItem__iconContainer {
	width: 15px;
	height: 15px;
}
roomlist .roomListItem  .avatarMedium {
	width: 15px;
	height: 15px;
}

roomlist div.roomListItem__pinContainer {
	top: 0px;
	right: 0px;
}
