li.roomListItem {
	height: 15px;
	padding: 5px 5px 5px 5px;
}
.roomListItem .roomListItem__iconContainer {
	width: 15px;
	height: 15px;
}
.roomListItem  .avatarMedium {
	width: 15px;
	height: 15px;
}

div.roomListItem__pinContainer {
	top: 0px;
	right: 0px;
}
